header {
    background-color:transparent;
    color: #fff;
    padding: 20px;
  }
  
  
  .header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .logo img {
    height: 40px;
  }
  
  .search input[type="text"] {
    
    padding: 5px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 5px 10px;
    background-color: #fff;
    color: navy;
    border: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #ddd;
  }
  