


footer {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .container p {
    margin: 0;
  }
  
  .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .fa {
    display: inline-block;
    margin-right: 5px;
  }
  
  @media (max-width: 767px) {
    .container {
      text-align: center;
    }
    
    .social-icons {
      margin-top: 10px;
    }
  }
  